
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Owl carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

<style>
  #grad1 {
  height: 600px;
  background-color:#660066;
  background-image: linear-gradient(to bottom right, #660066, #ff99cc);
  }
  </style>

  <div class="container-fluid center" id="grad1">
    <br><br>
    <div style="text-align:center">
        <br>
              <img src="./assets/ss1.png" alt="Avatar" style="width:200px" class="center">
              <h3>SkinDex</h3>
              <p style="color:black"> An App to predict the Skin Diseases. Using AI technology and Image Processing Techniques the app predicts diseases once the image is uploaded. An App to predict the Skin Diseases. Using AI technology and Image Processing Techniques the app predicts diseases once the image is uploaded. An App to predict the Skin Diseases. Using AI technology and Image Processing Techniques the app predicts diseases once the image is uploaded </p>
        
         <br>
            </div>
    

 </div>

 <mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100 resize" src="./assets/ss5.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100 resize" src="./assets/ss6.jpg" alt="Second slide">
    </mdb-carousel-item>
  </mdb-carousel>
<br><br><br><br><br><br><br><br><br>
  <!-- <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-text pull-left">
        <p> Copyright Fillit!!!</p>
        </div>
        <div class="navbar-text pull-right">
        <a hreh="#" > <i class="fas fa-user-graduate fa-2x"></i> </a>
        <a hreh="#" > <i class="fab fa-connectdevelop fa-2x"></i> </a>
        </div>
      </div>
    </div> -->

<router-outlet></router-outlet>